html,
body {
  height: 100%;
  overflow: hidden;
  background-color: #faf8f0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

#canvas-wrapper {
  width: 100vw;
  height: 100vw;
}

@media all and (orientation: landscape) {
  #canvas-wrapper {
    width: 100vh;
    height: 100vh;
  }
}
